@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;500&family=Lora&display=swap');

/* top-header */
.topnav{
    float: right;
    display:block;
    font-size: 12px;
    border-radius:5px;
    margin-right:150px;
    font-family:Arial, Helvetica, sans-serif;
    color: #444343;
}
.topnav a{
    padding-left: 10px;
}

.search-line{
    margin-left: 150px;
    margin-right: 150px;
    position:relative;
    display:grid;
    grid-template-columns: auto;
    margin-bottom: 20px;
}
.WebsiteLogo{
    grid-column: 1;
}

.form-inline-nav{
    grid-column:3;
    position: center;
    padding-top:15px;
    padding-left: 20px;
    padding-right: 20px;
}

.search-text{
    width:400px;
    min-height:26px;
    padding-top:5px;
}

.search-submit{
    border-radius: 2px;
    text-align: left;
    line-height: 14px;
    min-height:26px;
    color: transparent;
    border:0;
    width: 40px;
    padding:11px;
    position:absolute;
    background:#3B277D;
    background-image: url(https://60a99bedadae98078522-a9b6cded92292ef3bace063619038eb1.ssl.cf2.rackcdn.com/MagnifyingGlassSMW25.png);
    background-size: 26px;
    background-repeat: no-repeat;
    background-position:center;
    margin:0;
}

.cart-nav{
    grid-column:5 / 6;
    display: grid;
    grid-gap:5px;
    padding-left: 20px;
    padding-top: 5px;
}
.cart-nav img{
    grid-column:1;
}
.cart-title{
    grid-column:2;
}
.items-amount{
    grid-column:3;
}



/* Menu bar */
.navbar-mainTitle{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow: hidden;
    background-color: #3B277D;
}

.navbar-mainTitle li{
    float:left;
}

.navbar-mainTitle li a, .dropdown-btn {
    display:inline-block;
    color: #FFFFFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar-mainTitle li a:hover, .dropdown:hover .dropdown-btn {
    background-color: #AB9FD3;
    color:#3B277D;
    font-weight: bold;
}

.navbar-subTitle {
    float:right;
    font-size: 14px;
}

.navbar-mainTitle li .dropdown {
    display: inline-block;
    
}

.dropdown-content1{
    display: none;
    position:absolute;
    min-width:160px;
    z-index:1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: #3B277D;
}

.dropdown-content1 a {
    display: block;
    color:white;
    padding:12px 16px;
    text-decoration: none; 
    text-align: left;  
    font-size: 14px;
}

.dropdown-content1 a:hover {
    background-color:#AB9FD3;
    color:#3B277D;
    font-weight:700;
}

.dropdown:hover .dropdown-content1 {
    display:block;
}

.dropdown-content2{
    display: none;
    position:absolute;
    min-width:100px;
    z-index:1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: #3B277D;
}

.dropdown-content2 a {
    display: block;
    color:white;
    padding:8px 10px;
    text-decoration: none; 
    text-align: left; 
    font-size: 14px; 
}

.dropdown-content2 a:hover {
    background-color:#AB9FD3;
    color:#3B277D;
    font-weight: bold;
}

.dropdown:hover .dropdown-content2 {
    display:block;
}




/* main content*/
main{
    display:grid;
    margin:30px 150px;
}
 .section-1{
     grid-column:1;
     margin-right:10px;
 }
 .section-1 a h4{
    background-color: #3B277D;
    color:white;
    padding:5px 20px;
 }
 .cart-product{
     display:block;
     margin-left: 20px;
 }
 .cart-product a img{
     width:100px;
     height:100px;
 }
 .cart-product a h5{
     color:white;
     background-color: rgb(57, 158, 57);
     box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.2);
     display:block;
     width:120px;
     text-align: center;
     padding:3px 5px;
 }
 .cart-product a h5:hover{
    background-color:green;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
 }
 .select-btn{
     width:10px;
     height:10px;
     padding:0;
     margin: 0px 20px;
     text-align: center;
 }
 .select-btn:hover{
     background-color:#C80606;
 }
 .typeQuantity{
     width:70px;
     display:inline-block;
     text-align: center;
 }
 .remove-btn{
     color:#C80606;
     display:block;
     background-color:rgb(252, 252, 208);
     width:55px;
     padding:3px 5px;;
     box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.2);
 }
 .remove-btn:hover{
     background-color:rgb(240, 240, 111);
     box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
     
 }


 .section-2{
     grid-column:2;
     margin-left:10px;
 }
 .section-2 a h4{
    background-color: #3B277D;
    color:white;
    padding:5px 20px;
 }
 .order-S{
     margin:0px 20px;
 }
 .order-S a h5{
    color:white;
    background-color: rgb(57, 158, 57);
    box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.2);
    display:block;
    width:120px;
    text-align: center;
    padding:3px 5px;
}
.order-S a h5:hover{
   background-color:green;
   box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
}
.discountPrice{
    float:left;
    font-size: 14px;
    padding-top:20px;
}
.discountPrice a{
    display:block;
}

.Payment-Info{
    margin-left: 20px;
    margin-top: 100px;
}
.payment-Set{
    margin-top:10px;
}


/* footer */
.rectangle{
    display:grid;
    height:350px;
    background-color:#3B277D;
    margin-top:80px;
    padding-top:10px;
    width:100%;
}

.customer-nav{
    grid-column:1;
    grid-row:1;
    margin-left:150px;
}
.customer-nav a{
    font-size: 10px;
}
.customer-nav a h5{
    color:white;
}
.customer-nav a l1{
    color: #EFF6C3;
    display:block;
    direction:vertical;
}

.shopping-nav{
    grid-column:2;
    grid-row:1;
}
.shopping-nav a{
    font-size: 10px;
}
.shopping-nav a h5{
    color:white;
}
.shopping-nav a l1{
    color: #EFF6C3;
    display:block;
    direction:vertical;
}

.resource-nav{
    grid-column:3;
    grid-row:1;
}
.resource-nav a{
    font-size: 10px;
}
.resource-nav a h5{
    color:white;
}
.resource-nav a l1{
    color: #EFF6C3;
    display:block;
    direction:vertical;
}

.indemand-nav{
    grid-column:4;
    grid-row:1;
    padding-right: 100px;
}
.indemand-nav a{
    font-size: 10px;
}
.indemand-nav a h5{
    color:white;
}
.indemand-nav a l1{
    color: #EFF6C3;
    display:block;
    direction:vertical;
}


.sideContent{
    grid-column: 5;
    grid-row: 1 / span 3;
}
.sideContent div{
    margin-right:150px;
}
.sg{

    background-color: #BFB9D5;
    margin-bottom:20px;
}
.sg a p{
    padding-bottom: -20px;
    font-size: 14px;
}
.sg a l1{
    font-size: 12px;;
}
.careers{
    background-color: #9F94C3;
}
.careers a l1{
    font-size: 12px;
}
.careers a button{
    float:right;
    font-size: 13px;
}


.Auth-nav{
    grid-column: 1 / span 3;
    grid-row: 3;
    margin-left:150px;
    padding-top: 20px;
}
.Auth-nav p{
    color: white;
    font-size: 12px;
}
.Auth-nav a {
    color: #EFF6C3;
    font-size:10px;
    padding: 5px 15px;
}


